.view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  color: #212121; }
  @media (min-width: 360px) {
    .view {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

body {
  background: #EEE;
  font-family: 'Montserrat', sans-serif; }

.promo {
  max-width: 90vw;
  margin-bottom: 20px; }
  @media (min-width: 360px) {
    .promo {
      max-width: 50vw; } }
  .promo__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 360px) {
      .promo__header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .promo__logo {
    max-width: 150px;
    max-height: 150px;
    margin: 10px; }
  .promo__title {
    font-size: 2.0em;
    text-shadow: 1px 1px #6e6e6e;
    margin: 0px;
    padding: 0px; }
    @media (min-width: 360px) {
      .promo__title {
        font-size: 3.0em; } }
  .promo__content, .promo__signup {
    font-size: 0.9em;
    text-align: center; }
  .promo__signup {
    background-color: #8BC34A;
    padding: 5px;
    border-radius: 3px; }
