$color-primary: #8BC34A;
$color-primary-dark: #727272;
$color-text: #212121;
$color-accent: #EEE;
$spacing-small: 2px;

$breakpoints: (
  mobile: 500px,
  desktop: 760px
);

@mixin greater-than($bp) {
  $width: map-get($breakpoints, $bp);
  @media (min-width: $width) {
    @content;
  }
}

.view {
  padding-top: 50px;
  color: $color-text;
  background: $color-accent;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  // padding-bottom: 500px;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/img/hero-bg-min.jpg');
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: auto 100vh;
  border-bottom: 5px solid black;

  @include greater-than(desktop) {
    height: 50vh;
    background-size: 100vw;
  }

}

.hero-content {
  background-color:rgba(1, 1, 1, 0.66);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 4px black;

  @include greater-than(desktop) {
    flex-direction: row;
  }

  &__primary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  &__secondary {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    @include greater-than(mobile) {
      text-align: left;
      margin-left: 50px;
    }

  }

  &__logo {
    width: 140px;
    height: 140px;
    margin: 10px;
    @include greater-than(mobile) {
      width: 200px;
      height: 200px;
    }
  }

  &__title {
    color: white;
    font-size: 2.0em;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    @include greater-than(mobile) {
      font-size: 3.0em;
    }
  }

  &__tag-line {
    font-size: 1.5em;
    font-weight: 500;
    @include greater-than(mobile) {
      font-size: 2.0em;
    }

  }

  &__signup {
    color: white;

    & p {
      @include greater-than(desktop) {
        font-size: 1.5em;
      }
    }

    @include greater-than(desktop) {
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 600px;
    }
  }
}

.intro {

  padding-bottom: 20vh;
  text-align: center;
  @include greater-than(desktop) {
    min-height: 50vh;
    // margin-top: 50px;
  }

}

.blurb {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  &__heading {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-text;
  }

  &__content {
    @include greater-than(desktop) {
      font-size: 1.5em;
    }
  }

}

.footer {
  background: $color-primary-dark;
  padding-bottom: 20vh;

  @include greater-than(desktop) {
    padding: 5vh;
  }

}

.promo {

  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px;

  @include greater-than(mobile) {
    max-width: 500px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include greater-than(desktop) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }


  &__logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    @include greater-than(mobile) {
      width: 150px;
      height: 150px;
    }
  }

  &__title {
    font-size: 2.0em;
    text-shadow: 1px 0px 2px darken($color-accent, 30%);
    margin: 0px;
    padding: 0px;
    @include greater-than(mobile) {
      font-size: 3.0em;
    }
  }

  &__content, &__signup {
    font-size: 1.1em;
    text-align: center;
  }

  &__signup {
    background-color: $color-primary;
    border: 1px solid darken($color-primary, 5%);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 0px 2px darken($color-accent, 30%);
    & input {
      width: auto;
    }
  }

  &__footer {
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    color: lighten($color-text, 50%);
    a {
      color: lighten($color-text, 50%);
      font-size: 0.8em;
    }
  }

}
