$color-primary: #8BC34A;
$color-primary-dark: #727272;
$color-text: #212121;
$color-accent: #EEE;
$spacing-small: 2px;

$breakpoints: (
  mobile: 500px,
  desktop: 760px
);

@mixin greater-than($bp) {
  $width: map-get($breakpoints, $bp);
  @media (min-width: $width) {
    @content;
  }
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  color: $color-text;
  background: $color-accent;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

main {
  @include greater-than(desktop) {
    min-height: 50vh;
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/img/hero-bg-min.jpg');
  background-repeat: no-repeat;
  background-size: auto 100vh;
  border-bottom: 5px solid black;

  @include greater-than(desktop) {
    height: 50vh;
    background-size: 100vw;
  }

}

.hero-content {
  background-color:rgba(1, 1, 1, 0.66);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 4px black;

  @include greater-than(desktop) {
    flex-direction: row;
  }

  &__primary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  &__secondary {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    @include greater-than(mobile) {
      text-align: left;
      margin-left: 50px;
    }

  }

  &__scroll-down {
    display: flex;
    justify-content: center;
    font-size: 2.0em;
    @include greater-than(desktop) {
      display: none;
    }
  }

  &__logo {
    width: 140px;
    height: 140px;
    margin: 10px;
    @include greater-than(mobile) {
      width: 200px;
      height: 200px;
    }
  }

  &__title {
    color: white;
    font-size: 2.0em;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    @include greater-than(mobile) {
      font-size: 3.0em;
    }
  }

  &__tag-line {
    font-size: 1.5em;
    font-weight: 500;
    @include greater-than(mobile) {
      font-size: 2.0em;
    }

  }

  &__signup {
    color: white;

    & p {
      @include greater-than(desktop) {
        font-size: 1.5em;
      }
    }

    @include greater-than(desktop) {
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 600px;
    }
  }
}

.intro {
  padding-bottom: 5vh;
  text-align: center;
}

.blurb {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  &__heading {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-text;
  }

  &__content {
    @include greater-than(desktop) {
      font-size: 1.5em;
    }
  }

}

.footer {
  background: $color-primary;
  padding-bottom: 20vh;
  border-top: 5px solid black;

  @include greater-than(desktop) {
    padding: 5vh;
  }

}
