html {
  height: 100%;
  min-height: 100%; }

body {
  min-height: 100%; }

.view {
  padding-top: 50px;
  color: #212121;
  background: #EEE;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/img/hero-bg-min.jpg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: auto 100vh;
  border-bottom: 5px solid black; }
  @media (min-width: 760px) {
    .hero {
      height: 50vh;
      background-size: 100vw; } }

.hero-content {
  background-color: rgba(1, 1, 1, 0.66);
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 4px black; }
  @media (min-width: 760px) {
    .hero-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .hero-content__primary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hero-content__secondary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 500px) {
      .hero-content__secondary {
        text-align: left;
        margin-left: 50px; } }
  .hero-content__logo {
    width: 140px;
    height: 140px;
    margin: 10px; }
    @media (min-width: 500px) {
      .hero-content__logo {
        width: 200px;
        height: 200px; } }
  .hero-content__title {
    color: white;
    font-size: 2.0em;
    margin: 0px;
    padding: 0px;
    font-weight: 800; }
    @media (min-width: 500px) {
      .hero-content__title {
        font-size: 3.0em; } }
  .hero-content__tag-line {
    font-size: 1.5em;
    font-weight: 500; }
    @media (min-width: 500px) {
      .hero-content__tag-line {
        font-size: 2.0em; } }
  .hero-content__signup {
    color: white; }
    @media (min-width: 760px) {
      .hero-content__signup p {
        font-size: 1.5em; } }
    @media (min-width: 760px) {
      .hero-content__signup {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 600px; } }

.intro {
  padding-bottom: 20vh;
  text-align: center; }
  @media (min-width: 760px) {
    .intro {
      min-height: 50vh; } }

.blurb {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .blurb__heading {
    padding-bottom: 10px;
    border-bottom: 1px solid #212121; }
  @media (min-width: 760px) {
    .blurb__content {
      font-size: 1.5em; } }

.footer {
  background: #727272;
  padding-bottom: 20vh; }
  @media (min-width: 760px) {
    .footer {
      padding: 5vh; } }

.promo {
  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px; }
  @media (min-width: 500px) {
    .promo {
      max-width: 500px; } }
  .promo__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 760px) {
      .promo__header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .promo__logo {
    width: 100px;
    height: 100px;
    margin: 10px; }
    @media (min-width: 500px) {
      .promo__logo {
        width: 150px;
        height: 150px; } }
  .promo__title {
    font-size: 2.0em;
    text-shadow: 1px 0px 2px #a2a2a2;
    margin: 0px;
    padding: 0px; }
    @media (min-width: 500px) {
      .promo__title {
        font-size: 3.0em; } }
  .promo__content, .promo__signup {
    font-size: 1.1em;
    text-align: center; }
  .promo__signup {
    background-color: #8BC34A;
    border: 1px solid #7eb73d;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 0px 2px #a2a2a2; }
    .promo__signup input {
      width: auto; }
  .promo__footer {
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    color: #a1a1a1; }
    .promo__footer a {
      color: #a1a1a1;
      font-size: 0.8em; }
